@using System.Web.UI.WebControls
@model ClientTest.Models.DomainData

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
	@Html.TextBoxFor(m => m.Domain, new { placeHolder = "Domain" })

	@Html.TextBoxFor(m => m.Key, new { placeHolder = "Key" })

	<button type="submit">Gönder</button>
}

